.task_value {
  width: 300px;
}

p {
  border-bottom: 1px solid rgb(180, 173, 173);
  width: 500px;
}

#list {
  background-color: papayawhip;
  width: 60%;
  height: 400px;
  display: flex;
}

#completion {
  background-color: rgb(95, 158, 54);
  width: 60%;
  height: 400px;
  display: flex;
}
